include:
  - local: ".gitlab/ci/base.yml"
  - local: ".gitlab/ci/runtime-image.yml"
  - local: ".gitlab/ci/lint.yml"
  - local: ".gitlab/ci/test.yml"
  - local: ".gitlab/ci/quality.yml"
  - local: ".gitlab/ci/release.yml"

workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push"'
      when: always
    - when: never

